<html>
<body>

Hello, <%= @user.name %>

Bugwatch has generated the following alerts:

<% @presenter.files.each do |file, klasses| %>
  <%= file %>
  <% klasses.each do |klass, alerts| %>
    &nbsp;<%= klass %>
    <% alerts.each do |alert| %>
        &nbsp;&nbsp;<%= alert.function %><%= link_to "View alert", repo_alert_path(alert.commit.repo.id, alert.id) %>
    <% end %>
  <% end %>
<% end %>


You can unsubscribe to these emails by <%= link_to "visiting this link", subscription_repo_url(@repo) %> and unchecking "Alert notification"

</body>
</html>