<ul>
    <li>Date: <%= alert.created_at %></li>
    <li>File: <%= alert.file %></li>
    <li>Class: <%= alert.klass %></li>
    <li>Method: <%= alert.function %></li>
    <li>Commit: <%= alert.commit.sha %></li>
</ul>
<br />