<h1>Alerts for <%= @repo.name %></h1>

<div class="well">
<h2>Your alerts</h2>
<ol>
<% @user_alerts.each do |alert| %>
  <%= link_to repo_alert_path(@repo, alert) do %>
  <li>
    <%= render "alerts/alert", :alert => alert %>
  </li>
  <% end %>
<% end %>
</ol>
</div>

<div class="well">
<h2>All alerts</h2>
<ol>
<% @alerts.each do |alert| %>
  <%= link_to repo_alert_path(@repo, alert) do %>
  <li>
    <%= render "alerts/alert", :alert => alert %>
  </li>
  <% end %>
<% end %>
</ol>
</div>