<div class="well">
<h1>Alert for <%= @repo.name %></h1>
<%= render "alerts/alert", :alert => @alert %>
  <%= link_to "View Commit", commit_repo_path(@repo.id, @alert.commit.sha) %>
</div>

<div class="well">
<h2>Related Bug Fixes</h2>
<ol>
<% @related_bug_fixes.each do |bug_fix| %>
  <li>
    <%= render "repos/bug_fix", :bug_fix => bug_fix %>
    <%= link_to "View Commit", commit_repo_path(@repo.id, bug_fix.commit.sha) %>
  </li>
<% end %>
</ol>
</div>